<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="img/LOGO.png">
    <link rel='stylesheet' type='text/css' href='css/styles.css'>
<body>

    <div class="main-content" >
        {{>header}}
        {{errormessage}}
    </div> 

    
    {{>footer}}
</body>
</html>